mixin options(data)
    +b.options()&attributes(attributes)
        +e.item
            +e.label Марка
            +e.A(href=jv0).remove.js-sort-remove
        +e.item
            +e.label Модель
            +e.A(href=jv0).remove.js-sort-remove
        +e.item
            +e.label Двигатель
            +e.A(href=jv0).remove.js-sort-remove
