mixin slide-menu(data)
    +b.slide-menu.slide-menu_desk.js-menu()&attributes(attributes)
        +e.__menu-btn.js-menu-btn
            +e.__bar.__bar-1
            +e.__bar.__bar-2
            +e.__bar.__bar-3

        +e.__menu
            block
