mixin accordion-pl(data)
    +b.accordion-pl()&attributes(attributes)       
            +e.H3.__title
                |  title

            +e.__block
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                | Quod, molestias. Dolorum atque explicabo quibusdam similique eaque 
                | quod alias incidunt natus iste beatae? Numquam blanditiis aliquid repellendus asperiores, eligendi aspernatur possimus.

            +e.H3.__title
                |  title

            +e.__block
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                | Quod, molestias. Dolorum atque explicabo quibusdam similique eaque 
                | quod alias incidunt natus iste beatae? Numquam blanditiis aliquid repellendus asperiores, eligendi aspernatur possimus.

            +e.H3.__title
                |  title

            +e.__block
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                | Quod, molestias. Dolorum atque explicabo quibusdam similique eaque 
                | quod alias incidunt natus iste beatae? Numquam blanditiis aliquid repellendus asperiores, eligendi aspernatur possimus.

                
