// File for scss-vars.
// For example: main colors, paddings and so on.

//COLORS

$color-1: #423677;
$color-2: #f2f2f2;



//FONTS

$max-tablet: '1340px';
$max-mobile: '768px';
$md-desktop: '992px';
$lg-desktop: '1200px';

$tablet: '768px';
$md-desktop: '992px';
$lg-desktop: '1200px';