include ../ui-slide/ui-slide
include ../e-ui-slider__js/e-ui-slider__js
include ../owl-slider/owl-slider
include ../helper-item/helper-item

mixin e-ui-slider(data)
    +b.e-ui-slider()&attributes(attributes) 
        +e.H1.__title.b-plugins__title
            | ui-slider

        +e.__source.b-plugins__source
            | ссылка:
            +e.A.__link.b-plugins__link(href='https://jqueryui.com/slider/')
                | ui-slider
        
        +helper-item
            .helper-item__pug
                +e.H2.h2.helper-item__title
                    | Pug
                +e.PRE.
                    +e.LABEL.label.ui-slide__label
                    | Количество пар носков

                    +ui-slide({value: '', typeValue: 'шт', 
                        maxRange: 30}).ui-slide__item-values
                        +e.SPAN шт

                    +e.LABEL.label.ui-slide__label
                        | Количество штанов

                    +ui-slide({value: '', typeValue: 'шт', 
                        maxRange: 50}).ui-slide__item-values
                        +e.SPAN шт

                    +e.LABEL.label.ui-slide__label
                        | цена сапог

                    +ui-slide({value: '', typeValue: 'руб', 
                        maxRange: 100}).ui-slide__item-values
                        +e.SPAN руб

                    +e.LABEL.label.ui-slide__label
                        | Подбор носков по цене

                    +ui-slide({value: '40', typeValue: 'руб', 
                        maxRange: 30, range2: true, 
                        valueRange2: '240'}).js-ui-socks-slider.ui-slide--active
                        +e.SPAN руб
                
            .helper-item__scss
                +e.H2.h2.helper-item__title
                    | scss
                +e.PRE.
                    .ui-slide {
                        display: flex;
                        flex-direction: row; 
                        flex-wrap: wrap; 
                        width: 90%;
                        padding: 0 rem(20);

                        &__label {
                            display: block;
                            padding: rem(20);

                            font-size: rem(20);            
                        }

                        &__slider {
                            width: rem(160);
                            height: rem(22);
                            margin-right: rem(30);

                            background: rgb(161, 161, 161);
                        }

                        & .ui-slider-handle {
                            top: rem(-2);

                            width: rem(24);
                            height: rem(24);

                            border: 2px solid #333;
                            border-radius: 50%;
                            background: rgb(49, 126, 177);

                            cursor: pointer;

                            &:hover {
                                background: rgb(136, 219, 59);
                            }
                        }

                        & .ui-slider-range-min {        
                            height: rem(20);

                            background: rgb(157, 220, 231);
                        }

                        &__input-block {
                            margin-bottom: rem(10);        
                            margin-left: auto;
                        }

                        &__input {
                            width: rem(50);
                            height: rem(20);
                            padding: rem(5);
                            margin-right: rem(20);

                            font-size: rem(15);
                            font-weight: bold;
                            color: #000;        

                            border: none;
                            border-radius: rem(2);
                            background: #fff;
                        }

                        &--active {
                            
                            .ui-slider-handle {
                                border: none;
                                background: rgb(136, 219, 59);
                            }

                            .ui-slider-range-min {
                                background: rgb(219, 219, 219);
                            }
                        }
                    }


            .helper-item__js
                +e.H2.h2.helper-item__title
                    | js
                +e-ui-slider__js

            .helper-item__result
                +e.H2.h2.helper-item__title
                    | result

                +e.LABEL.label.ui-slide__label
                    | Количество пар носков
                +ui-slide({value: '', typeValue: 'шт', maxRange: 30}).ui-slide__item-values
                    +e.SPAN шт

                +e.LABEL.label.ui-slide__label
                    | Количество штанов
                +ui-slide({value: '', typeValue: 'шт', maxRange: 50}).ui-slide__item-values
                    +e.SPAN шт

                +e.LABEL.label.ui-slide__label
                    | цена сапог
                +ui-slide({value: '', typeValue: 'руб', maxRange: 100}).ui-slide__item-values
                    +e.SPAN руб

                +e.LABEL.label.ui-slide__label
                    | Подбор носков по цене
                +ui-slide({value: '', valueRange2: '', typeValue: 'руб', range2: true}).js-ui-socks-slider
                    +e.SPAN руб

